*:focus{
    border: 1px solid blue;
    
}

body{
    background-color: rgb(199, 199, 199);
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.d-none{
    display: none;
}
.p-relative{
    position: relative;
}
.muted{
    color: grey;
    font-weight: 100;
    font-family:sans-serif;
    font-size: 10px;
}
.a-bounce-error{
    animation: bounce 0.3s 1  forwards ease-in;
}
.load-animation {
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(136, 136, 136, 0.505);
    z-index: 1000;
    backdrop-filter: blur(5px);
    border-radius: 10px;
}
.load-animation::backdrop{
    filter: blur(1%);
}
.load-animation::before{
    content: '';
    position: relative;
    margin: auto;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    display: block;
    animation: a 1.4s infinite forwards linear;
    z-index: 2;
}
.load-animation::after{
    content: '';
    position: relative;
    margin: auto;
    top: 50%;
    width: 20px;
    height: 20px;
    background-color: rgb(0, 0, 0);
    display: block;
    animation: a 1.4s infinite 1s forwards linear;
    z-index: 2;
}
@keyframes a {
    33%{
        translate:  30px -20px;
    }
    66%{
        translate: 0px 0px;
        border-radius: 100%;
    }
    99%{
        translate: -30px 20px;
        rotate: 360deg;
        
    }
}

.error{
    color:red;
}
.root{
    margin-inline: auto;
    display: grid;
    max-width: 1920px;
    grid-auto-columns: 95%;
    width: 100%; 
    height: 100%;
    gap: 50px;
    box-sizing: border-box;
    justify-content: center;
}
.shadow{
    box-shadow: 0px 10px 50px 1px rgba(0, 0, 0, 0.35);
}
.modal{
    width: 100%;
    border-radius: 20px;
    border: 2px solid hsl(0, 0%, 80%);
}
.first-header{
    display: flex;
    background-color: white;
    margin: 10px 0;
}

.form-style{
    display: flex;
    width: 80%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    margin-inline: auto;
    padding: 20px;
    flex-direction: column;
    gap: 5px;
}
.form-input-text__style{
    border: 1px solid rgb(199, 199, 199);
}
.form-input-text__style:hover{
    cursor: pointer;
}
.form-input-text__style:focus{
    border: 1px solid rgb(0, 162, 255);
    outline: solid 0.1px rgb(0, 162, 255);
}

.form-button{
    width: clamp(50px, 50vw, 200px);
    background-color: rgba(255, 0, 0, 0);
    border: 1.5px solid green;
    border-radius: 10px;
    transition: 0.25s, width 1s;

}
.form-button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
@keyframes bounce {
    25%{
        translate: -30px;
        
    }
    50%{
        translate: 20px;

    }
    75%{
        translate:-10px;
        background-color: red;
        border: 1.5px solid red;
    }
    90%{
        translate: 5px;
    }
    100%{
        translate: 0;
        
    }
}

.main{
    display: flex;
    width: 100%;
    margin: 20px 0px;
    height: auto;
    background-color: white;
    justify-content: center;
    box-sizing: border-box;

}
.main-content{
    display: flex;
    width: 100%;
    height: min-content;
    padding: 20px 0;
    box-sizing: border-box;
}

.books{
    font-family: Arial, Helvetica, sans-serif !important;
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fill, clamp(50px, 80vw, 360px));
    grid-template-rows: repeat(auto-fill, auto);
    gap: 20px;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100px;
    width: 100%;
}
.no-book{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    grid-column: 1;
}
.first{
    display: flex;
}
.book-item{
    display: flex;
    width: 100%;
    min-width: 200px;
    overflow: hidden;
    padding: 10px 0;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.book-item__content {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}
.book-item__img{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    max-height: 150px;
    overflow: hidden;
}
.book-item__img>img{
    display: flex;
    width: 70%;
    object-fit:scale-down;
}

.book-item__desc{
    display: flex;
    margin: 5px;
    flex-direction: column;
}
.book-item__language{
    margin-bottom: 0;
}

.all-books{ 
    grid-area: 0 / 1;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 200px;
    width: 80%;
    height: auto;
    max-height: 50vh;
    grid-row-start: 1;
    margin: 20px 0;
    grid-row: 2 / span 3;
    background-color: white;
}
.title-books{
    margin: auto 20px;
}
.list-books{
    list-style: none;
    padding: 0;
    margin: 10px 0;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow-y: auto;
}
.list-books__item{
    padding: 6px 0;
    width: 100%;
}
.book_href{
    display: flex;
    min-width: 100%;
    border: 1px solid green;
    background-color: rgba(0, 0, 0, 0);
    justify-content: center;
    margin: auto;
    color: green;
    font-size: 15px;
}

.footer1{
    display: flex;
    justify-content: center;
    background-color: white;
}